<template>
  <div :class="'captcha ' + GET_CAPTCHA_STATE">
    <div class="g-recaptcha"></div>
    <template v-if="GET_CAPTCHA_STATE == 'approved'">
      <v-icon color="green">mdi-human</v-icon>
      {{ $t("Auth.human-detected") }}
      <v-icon color="green">mdi-check</v-icon>
    </template>
    <template v-else-if="GET_CAPTCHA_STATE == 'checking'">
      <v-icon>mdi-face-recognition</v-icon
      ><NoticeChip :text="$t('Auth.checking-for-bots')" />
    </template>
    <v-icon color="red" v-else-if="GET_CAPTCHA_STATE == 'botdetected'"
      >mdi-robot-angry</v-icon
    >
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import NoticeChip from "./NoticeChip.vue";

export default {
  // props: {
  //   text: {
  //     default: "Submit",
  //     type: String,
  //   },
  //   action: {
  //     default: "Submit",
  //     type: String,
  //   },
  // },
  components: {
    NoticeChip,
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters("CaptchaStore", ["GET_CAPTCHA_STATE", "GET_CAPTCHA_TOKEN"]),
    captchaSiteKey() {
      return process.env.VUE_APP_GOOGLE_CAPTCHA_SITE_KEY;
    },
  },
  mounted() {
    this.$nextTick(function () {
      this.loadGoogleJS();
    });
  },
  activated() {
    this.loadGoogleJS();
  },
  watch: {},
  methods: {
    ...mapActions("CaptchaStore", ["CAPTCHA_APPROVED", "CAPTCHA_CHECKING"]),

    async loadGoogleJS() {
      if (typeof window.grecaptcha == "undefined") {
        let src = `https://www.google.com/recaptcha/api.js?render=${process.env.VUE_APP_GOOGLE_CAPTCHA_SITE_KEY}`;
        let appendScript = document.createElement("script");
        appendScript.onload = function () {
        };
        appendScript.setAttribute("src", src);
        await document.head.appendChild(appendScript);
        //   console.log(typeof(window.grecaptcha ))
      } 
    },
  },
};
</script>
