<template>
  <span class="wts2logo">
      <template v-if="$vuetify.theme.dark">
      <img
        class="home-link-logo hidden-md-and-up"
        src="/shared-assets/logo-reduced-white.png"
        height="60"
        data-logo-type="lightmode-mobile"
        alt="Trust Cafe Logo"
      />
      <img
        class="home-link-logo hidden-sm-and-down"
        src="/shared-assets/logo-fullsize-side-white.png"
        data-logo-type="lightmode-desktop"
        alt="Trust Cafe Logo"
        height="80" 
      />
      </template>
      <template v-else>
      <img
        class="home-link-logo hidden-md-and-up"
        src="/shared-assets/logo-reduced-brown.png"
        height="60"
        alt="Trust Cafe Logo"
        data-logo-type="darkmode-mobile"
      />
      <img
        class="home-link-logo hidden-sm-and-down"
        src="/shared-assets/logo-fullsize-side-brown.png"
        height="80"
        alt="Trust Cafe Logo"
        data-logo-type="darkmode-desktop"
      />
      </template>
    </span>
  </template>
  
  <script>
  // import { mapGetters} from "vuex";
  
  export default {
    name: "HomeBtn",
    props: [],
    mounted() {},
    computed: {
      // ...mapGetters("Languages", ["GET_LOCALE"])
      },
    data() {
      return {};
    },
    methods: {
      // homeBtnLink(){
      //   if(this.$router.currentRoute.name == "Home"){
      //     window.scrollTo(0,0);
      //   }
      //   else{
      //     this.$router.push({ name: 'Home', params: { LANG: this.GET_LOCALE } })
      //   }
      // }
    }
  };
  </script>
  <style lang="scss" scoped>
  .home-link-logo {
    /* margin-top: 6px; */
  }
  </style>
  