<template>
  <v-chip
    :color="$vuetify.theme.dark ? ChipColorDark : ChipColor"
    class="$vuetify.theme.dark ? 'white--text' : 'grey--text'"
    :class="ChipType + '-notice-chip notice-chip ' + ChipColor"
  >
    <v-icon v-if="ChipType == 'info'">mdi-information-outline</v-icon>
    <v-icon v-else-if="ChipType == 'error'">mdi-alert-circle</v-icon>
    <v-progress-circular
      v-else-if="ChipType == 'loading'"
      indeterminate
      :size="15"
      :width="3"
      color="green darken-2"
    />
    <span class="noticechip--text">{{ $t(ChipText) }}</span>
  </v-chip>
</template>
<script>
export default {
  name: "NoticeChip",
  props: ["type", "text"],
  components: {},
  data: function () {
    return {
      ChipType: "info",
      ChipText: "",
    };
  },
  updated() {
    this.loadPropData();
  },
  mounted() {
    this.loadPropData();
  },
  computed: {
    ChipColor() {
      if (this.ChipType == "error") {
        return "#ffcdd2";
      } else {
        return "#f5f5f5";
      }
    },
    ChipColorDark() {
      if (this.ChipType == "error") {
        return "red";
      } else {
        return "#595757";
      }
    },
  },

  methods: {
    loadPropData: function () {
      if (typeof this.type != "undefined") {
        this.ChipType = this.type;
      }
      if (typeof this.text != "undefined") {
        this.ChipText = this.text;
      }
    },
  },
};
</script>
<style scoped>
.noticechip--text {
  display: inline-block;
  margin-left: 1em;
}
.notice-chip a,
.notice-chip em {
  margin-left: 0.3em;
  margin-right: 0.3em;
}
.notice-chip a {
}
</style>
